.footer-container {
  padding: 4rem 0rem;
  margin-top: 2rem;
  background-color: black;
  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  span {
    font-size: 10px;
    display: block;
    font-family: Cardo Regular;
    line-height: 1.35em;
    letter-spacing: 4px;
    transition: 0.3s;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }

  .back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-left: 24px;
    span {
      font-size: 12px;
    }
  }
}
